<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/user.png" alt="login">
        <h2 class="text-center">Recuperar Password</h2>
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()" class="my-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="correo" placeholder="name@example.com">
                <label>Email</label>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched"
                    class="text-danger errorLabel">El <strong>correo</strong> es requerido
                </span>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched"
                    class="text-danger errorLabel">El email es invalido
                </span>
            </div>
            <div class="d-grid gap-2 my-3">
                <button [disabled]="recuperarUsuario.invalid" class="btn btn-primary btn-lg" type="submit">Recuperar</button>
            </div>
            <a class="my-3" [routerLink]="['/login']">Volver</a>
        </form>
    </div>
    <app-spinner *ngIf="loading" ></app-spinner>
</div>