<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/user.png" alt="login">
        
        <form [formGroup]="loginUsuario" (ngSubmit)="login()" class="my-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
                <label>Email</label>
                <span *ngIf="loginUsuario.get('email')?.hasError('required') && loginUsuario.get('email')?.touched"
                    class="text-danger errorLabel">El <strong>correo</strong> es requerido
                </span>
                <span *ngIf="loginUsuario.get('email')?.hasError('email') && loginUsuario.get('email')?.touched"
                    class="text-danger errorLabel">El email es invalido
                </span>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" formControlName="password"  placeholder="Password">
                <label>Password</label>
                <span *ngIf="loginUsuario.get('password')?.hasError('required') && loginUsuario.get('password')?.touched"
                    class="text-danger errorLabel">El <strong>password</strong> es requerido
                </span>
            </div>
            <div class="d-grid gap-2 my-3">
                <button [disabled]="loginUsuario.invalid" class="btn btn-primary btn-lg" type="submit">Iniciar Sesión</button>
            </div>
            <p class="my-2">No tienes cuenta <a [routerLink]="['/registrar-usuario']">Registrar</a></p>
            <a  [routerLink]="['/recuperar-password']">Recuperar contraseña</a>
        </form>
    </div>
    <app-spinner *ngIf="loading" ></app-spinner>
</div>